{% load bootstrap4 %}
{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_jquery%}
{% bootstrap_javascript %}




<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "style.css" %}" rel="stylesheet">
</head>

        <header>
            {% if request.user.is_authenticated %}
                 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item">
                        <a class="nav-link" href="{% url "chromatography:all_columns" %}">All Columns</a>
                      </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{% url "chromatography:all_models" %}">All Models</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url "chromatography:all_logpmodels" %}">All LogP models</a>
                      </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{% url "chromatography:all_lsermodels" %}">All LSER models</a>
                      </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{% url "chromatography:logout" %}">Logout</a>
                      </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{% url "chromatography:profile" %}">Profile</a>
                      </li>
                    </ul>
                  </div>
                </nav>
            {%else %}
                 <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #e3f2fd;">
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item">
                        <a class="nav-link" href="{% url "chromatography:all_models" %}">All Models</a>
                      </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{% url "chromatography:login" %}">Login</a>
                      </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{% url "chromatography:register" %}">Register</a>
                      </li>
                    </ul>
                  </div>
                </nav>
        </header>

        {% endif %}

    <div class="bg">
      <div class="row">
        <div class="col-sm-2" style="min-width: 12rem">
            {% block menu %}
            <nav class="nav flex-column navbar-light" style="background-color: #e3f2fd;">
              <a class="nav-link text-info" href="{% url "chromatography:create_column" %}">Add Column</a>
              <a class="nav-link text-info" href="{% url "chromatography:create_logpmodel" %}">Add LogP Model</a>
              <a class="nav-link text-info" href="{% url "chromatography:create_lsermodel" %}">Add LSER Model</a>
            </nav>
            {% endblock %}
        </div>
        <div class="col-sm-10">
            {% block body %}
            {% endblock %}
        </div>
    </div>
    </div>






</html>