{% extends 'base.html' %}

{% block title %}
    All Columns
{% endblock %}

    <h3>All HPLC Chromatographic Columns</h3>

{% block body %}
   <div class="row" style="margin: 5px">
        {% for column in columns %}
          <div class="col-sm">
            <div class="card border-info mb-3 text-info" style="min-width: 20rem">
               <div class="card-body">
                    <h5 class="card-title ">Name: {{ column.name}}</h5>
                    <p class="card-text"> Type: {{ column.type}}</p>
                    <p class="card-text"> Manufacturer: {{ column.manufacturer}}</p>
                    <a href="{{ column.get_absolute_url }}" class="btn btn-light">go to Chromatographic Column</a>
               </div>
             </div>
          </div>
        {% endfor %}
    </div>
{% endblock %}