{% extends 'base.html' %}

{% block title %}
    All Columns
{% endblock %}

{% block body %}

    <h3>All HPLC Chromatographic Columns</h3>

    <hr>

    {% for column in columns %}
        <h3>{{ column.name }}</h3>
        <p>
           Type: {{ column.type}}
        </p>
         <p>
            Manufacturer: {{ column.manufacturer}}
        </p>
        <a href="{{ column.get_absolute_url }}">go to Chromatographic Column </a><br>
        <hr>
    {% endfor %}
    <a href="{% url "chromatography:create_column" %}"> Add new chromatographic column </a>
{% endblock %}

