{% extends 'base.html' %}

{% block title %}
    Delete Column
{% endblock %}

{% block body %}
    <div style="background-color: rgba(255, 255, 255, 0.8); padding-left: 10px">
        <h1> Delete Column</h1>
        <form action="." method="post">
        Are you sure that you want to delete {{column.name}}?
            {% csrf_token %}
            <input type="submit" value="Yes, delete!">
            <a href="{% url "chromatography:all_columns" %}"> Back to all Columns </a>
        </form>
    </div>
{% endblock %}