{% extends 'base.html' %}

{% block title %}
    Create new LogP Model
{% endblock %}

{% block body %}
    <div style="background-color: rgba(255, 255, 255, 0.8); padding-left: 10px">
        <h1> Delete LSER Model</h1>
        <form action="." method="post">
        Are you sure that you want to delete {{logp_model.slug}}?
            {% csrf_token %}
            <input type="submit" value="Yes, delete!">
            <a href="{% url "chromatography:all_lsermodels" %}"> Back to all LSER models </a>
        </form>
    </div>
{% endblock %}