{% extends 'base.html' %}


{% block title %}
   Detailed Column
{% endblock %}

{% block body %}

        <div style="background-color: rgba(255, 255, 255, 0.8); padding-left: 10px">
            <h3>{{ column.name }}</h3>
            <p>
                Type: {{ column.type}}
            </p>
            <p>
               Abbreviation: {{ column.abbreviation}}
            </p>
            <p>
                Manufacturer: {{ column.manufacturer}}
            </p>
            <p>
                Dimensions, L×i.d.(mm×mm): {{ column.dimensions}}
            </p>
            <p>
                Particle size (µm): {{ column.particle_size}}
            </p>
            <p>
                Pore size (C): {{ column.pore_size}}
            </p>
            <p>
                Pore volume (ml/g): {{ column.pore_volume}}
            </p>
            <p>
                Surface area (m^2/g): {{ column.surface_area}}
            </p>
            <p>
                Carbon loading(%): {{ column.carbon_loading}}
            </p>
            <p>
                Surface coverage (µmol/m^2): {{ column.surface_coverage}}
            </p>
            <p>
                Carbon loading(%): {{ column.carbon_loading}}
            </p>
            <p>
                Bulk density (g/ml): {{ column.bulk_density}}
            </p>
            <p>
                End capping: {{ column.end_capping}}
            </p>

             <p>
                Silica: {{ column.silica}}
            </p>
            <p>
                Author: {{ column.author}}
            </p>
            <a href="/delete_column/{{column.id}}"> Delete Column </a><br>
            <a href="{% url "chromatography:all_columns" %}"> Back to all Chromatographic columns </a>
        </div>

{% endblock %}
