{% extends 'base.html' %}


{% block title %}
    Login page
{% endblock %}

{% block body %}
    <div style="background-color: rgba(255, 255, 255, 0.8); padding-left: 10px">
    {% if form.errors %}
        ERROR (check your credentials)
    {% else %}
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <input type="submit" value="Login">
        </form>
    {% endif %}

    <p><strong> --Or sign in -- </strong></p>

    <a href="{% url 'social:begin' 'github' %}" >Sign in with GitHub</a> <br>

    <a href="{% url 'social:begin' 'google-oauth2' %}" >Sign in with Google</a> <br>
    </div>

{% endblock %}