{% extends 'base.html' %}

{% block title %}
    Profile
{% endblock %}

{% block body %}
    <h3>Personal information</h3>
    <div>
        <p>First name: {{user.profile.first_name}}</p>
        <p>Last name: {{user.profile.last_name}}</p>
        <p>Birth: {{user.profile.birth}}</p>
        <p>Position: {{user.profile.position}}</p>
    </div>
    <p> <img src="{{ user.profile.photo.url }}" alt="alt text", height="100px", width="100px"></p>

    <a href="{% url "chromatography:edit_profile" %}">edit profile </a>

{% endblock %}