{% extends 'base.html' %}

{% block title %}
    LogP Chromatographic Models
{% endblock %}

{% block body %}

    <h3>All LogP Chromatographic models</h3>

    {% for logpmodel in logpmodels %}
        <h3>{{ logpmodel.slug }}</h3>
        <p>
            {{ logpmodel.column}}
        </p>
        <p>
            {{ logpmodel.eluent}}
        </p>
         <p>
            tg (gradient time) = {{ logpmodel.gradient_time}} min
        </p>

        <a href="{{ logpmodel.get_absolute_url }}">go to Chromatographic model </a><br>
        <hr>
    {% endfor %}
     <a href="{% url "chromatography:create_logpmodel" %}"> Create new LogP Model </a>
{% endblock %}

