{% extends 'base.html' %}

{% block title %}
    All LSER Chromatographic Models
{% endblock %}

{% block body %}
   <div class="row" style="margin: 5px">
        {% for lsermodel in lsermodels %}
      <div class="col-sm">
        <div class="card text-white bg-secondary mb-3" style="min-width: 18rem; background-color: #e3f2fd;">
           <div class="card-body">
                <h5 class="card-title" style="color: lightcyan">{{ lsermodel.slug }}</h5>
                <p class="card-text"> Column: {{ lsermodel.column}}</p>
                <p class="card-text"> Eluent: {{ lsermodel.eluent}}</p>
                <p class="card-text"> Tg(min): {{ lsermodel.gradient_time}}</p>
                <a href="{{ lsermodel.get_absolute_url }}" class="btn btn-light">go to Chromatographic model</a>
           </div>
         </div>
      </div>
        {% endfor %}
    </div>
{% endblock %}
